{% extends 'fire_ui/base.html' %}

{% block title %}Detalhes do Foco de Queimada{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Foco de Queimada #{{ object.id }}</h5>
                <div>
                    <a href="{% url 'focos-update' object.pk %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil"></i> Editar
                    </a>
                    <a href="{% url 'focos-delete' object.pk %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Excluir
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="border-bottom pb-2 mb-3">Informações Gerais</h6>
                        <dl class="row">
                            <dt class="col-sm-4">Data:</dt>
                            <dd class="col-sm-8">{{ object.data|date:"d/m/Y" }}</dd>
                            
                            <dt class="col-sm-4">Satélite:</dt>
                            <dd class="col-sm-8">{{ object.satelite.nome }}</dd>
                            
                            <dt class="col-sm-4">Município:</dt>
                            <dd class="col-sm-8">{{ object.municipio.nome }}</dd>
                            
                            <dt class="col-sm-4">Região:</dt>
                            <dd class="col-sm-8">{{ object.regiao_imediata.nome }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <h6 class="border-bottom pb-2 mb-3">Localização</h6>
                        <dl class="row">
                            <dt class="col-sm-4">Latitude:</dt>
                            <dd class="col-sm-8">{{ object.latitude }}</dd>
                            
                            <dt class="col-sm-4">Longitude:</dt>
                            <dd class="col-sm-8">{{ object.longitude }}</dd>
                            
                            <dt class="col-sm-4">Bioma:</dt>
                            <dd class="col-sm-8">{{ object.bioma|default:"Não informado" }}</dd>
                        </dl>
                    </div>
                </div>
                
                {% if object.observacoes %}
                <h6 class="border-bottom pb-2 mb-3 mt-4">Observações</h6>
                <p>{{ object.observacoes }}</p>
                {% endif %}
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'focos-list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Voltar para Lista
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
